@import url("../../.local/state/kumin_theme/colors.css");
@import url("../../.local/state/kumin_theme/fonts.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.4);
    color: @accent_color;
    border-radius: 12px;
    margin: 6px 450px 0 450px;
}

#window,
#tray,
#battery,
#custom-weather,
#pulseaudio,
#clock,
#backlight {
    background: transparent;
    color: @accent_color;
    padding: 0 8px;
}

#window {
    color: @accent_color;
}
#custom-weather {
    color: @accent_color;
}
#pulseaudio {
    color: @accent_color;
}
#battery {
    color: @accent_color;
}
#clock {
    color: @accent_color;
}
#backlight {
    color: @accent_color;
}

tooltip {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: @accent_color;
    font-size: 16px;
}
